.splash {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--primary-color);
}

.loading {
    width: 200px;  
    fill: var(--background-color);
}

